@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #B7E4C7;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
}

p {
    line-height: 2rem;
}

footer {
    background-color: #081C15;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

section {
    min-height: 45vh;
}

header a, h1 {
    color: #1B4332;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 1.5rem;
}

.about-img, .about-text {
    max-width: 45%;
}

.about-img img {
    max-width: 100%;
    height: auto;
}

.projects {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    flex-wrap: wrap;
    
}

.project-card {
    width: 12rem;
    background-color: lavenderblush;
    min-height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #1B4332;
    margin: 1.5rem;
}

.skills-text {
    padding: 1.5rem 0 1.5rem;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}

#about {
    background-color: #40916C;
}

#projects {
    background-color: #2D6A4F;
}

#skills {
    background-color: #1B4332;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 2rem;
}

footer .links {
    flex-direction: column;
    gap: 1.5rem;
}

footer a, h2 {
    color: #fff;
}


/* @media (max-width: 1200px) {
    body {
        background-color: yellow;
    }
}

@media (max-width: 768px) {
    body {
        background-color: pink;
    }
}

@media (max-width: 375px) {
    body {
        background-color: purple;
    }
} */

